@{
    ViewBag.Title = "Home Page";
}

<h1 class="display-6">Servizio Trasporti EpiTransport</h1>

<div class="text-center">
    @Html.ActionLink("Gestisci la tua Spedizione", "Accesso", "Home", new { area = "" }, new { @class = "btn btn-lg btn-info m-5" })
</div>

<div>
    <p class="py-3 border-bottom border-top m-0">Fondata nel 1969, EpiTransport si è affermata come un pilastro nell'industria dei trasporti in Italia, guadagnando una reputazione solida e affidabile nel corso di oltre cinque decenni di attività. L'azienda è stata fondata con l'obiettivo di fornire soluzioni di trasporto efficienti e sicure su scala nazionale, abbracciando l'innovazione e adattandosi costantemente alle mutevoli esigenze del mercato. La lunga tradizione di EpiTransport nel settore si riflette nella sua flotta all'avanguardia e nell'approccio orientato al cliente.</p>
    <div class="d-flex gap-3 border-top border-bottom align-items-center">
        <img class="w-25" src="https://www.volvotrucks.it/content/dam/volvo-trucks/markets/italy/T2021-76585.jpg" alt="uno dei nostri veicoli" />
        <div>
            <p class="py-3 border-bottom m-0">Con una copertura geografica completa in tutta Italia, EpiTransport ha consolidato una rete estensiva di filiali e centri logistici strategici per garantire la massima copertura e tempestività nei servizi offerti. La competenza e l'esperienza del personale, unitamente a una costante attenzione all'innovazione tecnologica, hanno reso EpiTransport un partner preferito per una vasta gamma di clienti, dalle piccole imprese alle grandi aziende multinazionali.</p>
            <p class="py-3 m-0">EpiTransport non si limita solo al trasporto di merci, ma si distingue anche per il suo impegno nei confronti dell'ambiente attraverso l'implementazione di pratiche sostenibili. L'azienda investe in veicoli a basso impatto ambientale e promuove costantemente iniziative per ridurre l'impronta ecologica del settore dei trasporti. Con un'identità aziendale radicata nella qualità del servizio, l'innovazione e la sostenibilità, EpiTransport continua a definire gli standard dell'industria dei trasporti in Italia.</p>
        </div>
    </div>
    <div class="d-flex gap-3 border-top border-bottom align-items-center">
        <div>
            <p class="py-3 border-bottom m-0">L'approccio distintivo di EpiTransport al settore dei trasporti si riflette nella sua attenzione per la sicurezza e l'affidabilità. L'azienda si impegna a garantire che ogni spedizione, grande o piccola, sia gestita con la massima cura e precisione. I veicoli della flotta sono sottoposti a rigorosi controlli periodici e sono dotati delle ultime tecnologie per monitorare il percorso, garantendo una tracciabilità precisa delle merci in transito. Inoltre, il personale altamente qualificato e dedicato di EpiTransport è costantemente formato per affrontare le sfide del settore in continua evoluzione, assicurando un servizio clienti di livello superiore.</p>
            <p class="py-3 m-0">La storia di EpiTransport è intrecciata con il progresso tecnologico e l'adattamento alle esigenze emergenti del mercato. L'azienda è all'avanguardia nell'implementazione di soluzioni digitali per ottimizzare le operazioni di trasporto, migliorare la comunicazione con i clienti e garantire una gestione logistica efficiente. La visione di EpiTransport è quella di essere un leader innovativo nel settore, guidando il cammino per una logistica sempre più intelligente e sostenibile. Con una storia di successi che abbraccia oltre mezzo secolo, EpiTransport è più che un fornitore di servizi di trasporto; è un partner affidabile e strategico per coloro che cercano soluzioni di logistica all'avanguardia in tutto il territorio italiano.</p>
        </div>
        <img class="w-25" src="https://www.costozero.it/csz/wp-content/uploads/2023/07/GROUPAGE_CORR.jpg" alt="il nostro magazzino" />
    </div>
</div>